* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

body {
    background-color: #001;
    display: flex;
}

.menu {
    background-color: #123;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
    
}

.menu:hover {
    width: 260px;
}

.profil {
    display: flex;
    align-items: center;
    gap: 60px;
}

.profil h2 {
    font-size: 100%;
    text-transform: capitalize;
}

.img-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}

.img-box img {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
    position: relative;
    height: 95%;
    flex-shrink: 0;
    
}

ul li a {
    display: flex;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    gap: 35px;
    transition: 0.5s;
    align-items: center;
}

ul li a:hover,
ul li a.active,
.date-info,
.box:hover,td:hover {
    background-color: #ffffff55;
}

ul li a.active {
    background-color: #f3e7e755;
}

.log-out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.log-out a {
    background-color: #a00;
}

ul li a i {
    font-size: 30px;
}

.content {
    width: 100%;
}

.titel-info {
    background-color: rgb(0, 26, 255);
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 0;
    
}

.date-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #123;
}

.date-info .box {
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
}

.date-info .box i{
    font-size: 30px;
}
.date-info .box p{
    align-items: center;
}
.date-info .box p span{
    font-size: 30px;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 3.5px;
}
td ,th{
    background-color: #123;
    height: 40px;
    border-radius: 8px;
}
 th{
    background-color: rgb(0, 26, 255);
}
.price,.count{
    padding: 6px;
    border-radius: 6px;
}

.price{
    background-color: green;
}
.count{
    background-color: gold;
    color: #001;
}